<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.dormitory_system.mapper.StudentsMapper">
    <insert id="insertStudents">
        insert into t_students(stuName,sex,sid,stuClass,floor,hostelNum,isIn,checkInTime,isLate)
        values(#{stuName},#{sex},#{sid},#{stuClass},#{floor},#{hostelNum},#{isIn},#{checkInTime},#{isLate})
    </insert>

    <delete id="deleteStudentsById">
        delete from t_students
        where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getAllStudents" resultType="com.yq.dormitory_system.model.Students">
        select * from t_students where 1 = 1
        <if test="stuName != null">
            and stuName like concat(concat("%",#{stuName}),"%")
        </if>
    </select>

    <select id="allPeople" resultType="java.lang.Integer">
        SELECT COUNT(*) as allPeople FROM t_students
    </select>

    <select id="signedIn" resultType="java.lang.Integer">
        SELECT COUNT(*) as signedIn FROM t_students WHERE isIn = true
    </select>

    <select id="noSignedIn" resultType="java.lang.Integer">
        SELECT COUNT(*) as noSignedIn FROM t_students WHERE isIn = FALSE
    </select>

    <update id="updateStudents">
        update t_students
        <set>
            <if test="stuName != null and stuName !=''">
                stuName = #{stuName},
            </if>
            <if test="sex != null and sex !=''">
                sex = #{sex},
            </if>
            <if test="sid != null and sid !=''">
                sid = #{sid},
            </if>
            <if test="stuClass != null">
                stuClass = #{stuClass},
            </if>
            <if test="floor != null">
                floor = #{floor},
            </if>
            <if test="hostelNum != null">
                hostelNum = #{hostelNum},
            </if>
            <if test="isIn != null">
                isIn = #{isIn},
            </if>
            <if test="checkInTime != null">
                checkInTime = #{checkInTime},
            </if>
            <if test="isLate != null">
                isLate = #{isLate},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--public int signIn(String uNum);-->
    <update id="signIn">
        update t_students
        <set>
            <if test="stuName != null and stuName !=''">
                stuName = #{stuName},
            </if>
            <if test="sex != null and sex !=''">
                sex = #{sex},
            </if>
            <if test="sid != null and sid !=''">
                sid = #{sid},
            </if>
            <if test="stuClass != null">
                stuClass = #{stuClass},
            </if>
            <if test="floor != null">
                floor = #{floor},
            </if>
            <if test="hostelNum != null">
                hostelNum = #{hostelNum},
            </if>
            <if test="isIn != null">
                isIn = #{isIn},
            </if>
            <if test="checkInTime != null">
                checkInTime = #{checkInTime},
            </if>
            <if test="isLate != null">
                isLate = #{isLate},
            </if>
        </set>
        where sid = #{sid}
    </update>
</mapper>